*{
    margin-left:2px;
    padding: 0;
   
}
html{
    scroll-behavior: smooth;
}
.nav{
    display:flex;
    justify-content :space-between;
    align-items: center;
    padding:15px 40px;
    color:white;
    background: #000518; 
}

    .nav-links{
        display:flex;
        list-style: none;
        gap:30px;
    }
    .nav-links li a{
        color:white;
        text-decoration: none;
        font-weight:bold;
    }


#port{
        margin-left:10px;
     font-size:5vh;
   
    display:flex;
  
    justify-content: left;
     color: #59a7c9;
    font-family:Georgia, 'Times New Roman', Times, serif;
      animation:slideleft 1s ease-in;
      text-shadow: #0ea5e9 3px 0px 7px;

}

.intro{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    
    
}
#fd{
   margin-top: 0;
   margin-left: 10px;
}
.intro h1, #fd{
  color: #38bdf8;
}
.second a{
  color: #f1f5f9;
  margin-right: 10px;
  transition: 0.3s;
}

.second a:hover{
  color: #38bdf8;
}
.first {    
   
     height: 205px;
    display: flex;
     flex-direction: row;
    white-space: nowrap;
      background: linear-gradient(135deg, #020617, #0f172a);
  padding: 30px;


}



img{
    border-radius: 50%;
    height:180px;
    width:180px;
    padding:5px;
    object-fit: cover;
    border: 3px solid #38bdf8;
    box-shadow: #0ea5e9 0px 0px 10px;
    transition:scale 0.3s ease-in-out;

    

}
img:hover{
    scale:105%;
}

.second{
    display:flex;
    flex-direction:row;
}

#About{
    margin-top: 3vh;
    font-size: 4vh;
}


h2{
    font-size: 4vh;
    margin-top: 20px;
}

.skill{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.vl{
     background-color: #334155;
    width:2px;
    height: 200px;
}

li{
    font-size: 2vh;
}
#inc{
   margin-top: 20px;
}
#in{
    font-size: 2vh;
    margin-top: 10px;
}
.main{
     color: #8adcff;
      text-shadow: 0 0 5px #38bdf8;
}
.main:hover{
   color: rgb(185, 243, 255);
}

.projects-container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.projects-card{
  background: #1e293b;
  color: #f1f5f9;
padding:20px;
width:500px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.2);
transition: scale 0.3s ease, box-shadow 0.3s ease;
}


.projects-card:hover{
    box-shadow:0 8px 30px rgba(0,0,0,0.3);
  
    scale:105%;


}
body{
      background-color: #0f172a;
  color: #f1f5f9;
}
a{
  color: #38bdf8;
  text-decoration: none;
}

a:hover{
  color: #0ea5e9;
}

.nav-links li{
  
   gap:20px;
    padding:10px;
    border-radius: 10px;
    background-color: #1e293b;
    transition:scale 0.3s ease-in-out;
}

.nav-links li:hover{
   box-shadow: #38bdf8 0px 0px 10px;
   scale:103%;
}

#log{
    border:2px solid black;
    width:50px;
    height:50px;
    margin:10px
}





.show-left{
  animation: slides-in-left 2s;
}
@keyframes slides-in-left{
  0%{
    transform: translateX(-400px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

.show-right{
  animation: 2s slides-in-right;
}
@keyframes slides-in-right{
  0%{
    transform: translateX(400px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}


@media (min-width: 0) and (max-width: 480px){
*{
 margin:3px;
 padding:0;
  box-sizing: border-box;
}
#About{
    margin:1vh;
    font-size: 4vh;
}

main{
 
  margin: 0;
  padding: 0px;
}
.first{
  margin:0;
}
 .skill{
  padding:1px;
    margin:0;
    display: flex;
    flex-direction:row;
    justify-content:center;
    font-size:0px;
  }
   
 body{
     margin:0;
    background-color: #0f172a;
  color: #f1f5f9;
   
  
}

.skill ul,.skill li{
  font-size: 10px;
}
  #log{
    border:1px solid black;
    width:30px;
    height:30px;
    margin-left:50%;
    object-fit: cover;
    padding:2px;
    
}

  .nav-links li {
    margin:0;
    padding:2px;
      border-radius: 5px;

  }
     .nav-links{
        display:flex;
        list-style: none;
        gap:20px;
        

    }
  .main{
    padding:2px;
    display:flex;
    justify-content:center;
    font-size: 30px;

    
  }
  #About{
    font-size: 30px;
    padding-top: 15px;
    
  }


   

img{
    border-radius: 50%;
    height:100px;
    width:200px;
    padding:5px;
    margin:0px;
    border: 2px solid #38bdf8;
  


}


#typing,#truev,#ac{
  font-size: 20px;
}
#About p{
  padding: 10px;
}
.projects-container{
     
   display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:10px;
    justify-items: center;
  }

.projects-card{
  padding:10px;
  width: 80%;
  max-width: 350px;

}
.projects-card p{
  padding:20px;
}
 video{
  width:100%;
 }
 .nav, .first, main, section {
  width: 100%;
}
#port{
      
     font-size:4vh;
}
  ul{
    padding-left: 10px;
  }
  body{
    margin:0;
  }
.nav{
      padding:2px;
      margin:0;
}
 .main{
  font-size:30px;;
   }
  .second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
      
  }}


@media (min-width:481px) and (max-width: 768px){
  .projects-container{
   display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:10px;
  }
  .projects-card{
    padding:30px;
    width:80%;
  } 
  .projects-card li,p{
   font-size: 20px;
  }
.projects-card p{
  padding:20px;
}
  *{
    margin:3px;

  }
  ul{
    padding-left: 20px;
  }
  body{
    margin:0;
  }
.nav{
      padding:2px;
      margin:0;
}
.intro{
  display: flex;
  justify-content: center;
}
#typing,#truev,#ac{
  font-size: 20px;
  display: inline;

}
  .projects-container{
   display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
  
    
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .projects-container{
   display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
  
    
  }
  #port{
      font-size: 3vh;
      margin-left: 20px;
  }
  .projects-card
{
 
    width:80%;
  
  } 
  .skill ul,.skill li{
  font-size: 15px;
}

 ul{
    padding-left: 20px;
  }
   body{
    margin:0;
  }
  .nav{
      padding:10px;
      margin:0;
}
 .nav-links li {
    margin:0;
    padding:10px 20px;
      border-radius: 5px;
  }
     .nav-links{
        display:flex;
        list-style: none;
        gap:30px;
        justify-content: space-evenly;

    }
   .main{
  font-size: 30px;;
   }
video{
  width:100%;}
  .projects-card li{
    font-size: 18px;
  }
    #About{
    font-size: 30px;
    padding-top: 15px;
    
  }


  .nav-links li {
    margin:0;
    padding:4px;
      border-radius: 5px;
  }
  .nav-links{
        display:flex;
        list-style: none;
        gap:20px;
        justify-content: space-evenly;
}

}